@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: "Cormorant Upright";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

nav, footer, header {
  display: block;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.page__header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #25330F;
  z-index: 2;
}
.page__content {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #D4C9B4;
}
.page__footer {
  height: 60px;
  width: 100%;
  background-color: #25330F;
  z-index: 10;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  margin: 0;
}

.buttons__home {
  width: 13rem;
  height: 40px;
  padding: 5px;
  background-color: #DCDCDC;
  text-align: center;
  border: 1px solid rgba(75, 40, 10, 0.8);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons__home span {
  display: block;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.buttons__home:hover {
  background-color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover::after {
  opacity: 1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover span {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.buttons__social {
  color: #DCDCDC;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
}
.buttons__social:hover {
  color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.content {
  background-color: #a2a2a2;
  z-index: 5;
  position: relative;
}
.content__block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__back {
  position: relative;
}
.content__waves {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.content__snowmen {
  position: fixed;
}
.content__deer {
  position: fixed;
  z-index: 100;
}

@-webkit-keyframes move-sled {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes move-sled {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes jumping {
  0% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  40% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  60% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  80% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes jumping {
  0% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  40% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  60% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  80% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform-origin: right, bottom;
            transform-origin: right, bottom;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.deer-1 img {
  margin-top: 40px;
  width: 300px;
  height: 300px;
  offset-path: path("M1504,193 C438,26 150,10 -346,56");
  offset-rotate: reverse;
  -webkit-animation: move-sled 10s 2s ease-in-out infinite, jumping 1s 2s ease-in-out infinite forwards;
          animation: move-sled 10s 2s ease-in-out infinite, jumping 1s 2s ease-in-out infinite forwards;
}

.deer-2 img {
  opacity: 0.8;
  margin-top: 30px;
  width: 200px;
  height: 200px;
  offset-path: path("M1504,193 C438,26 120,10 -346,56");
  offset-rotate: reverse;
  -webkit-animation: move-sled 8s 4s ease-in-out infinite, jumping 1s 2s ease-in-out infinite forwards;
          animation: move-sled 8s 4s ease-in-out infinite, jumping 1s 2s ease-in-out infinite forwards;
}

.deer-3 img {
  opacity: 0.8;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  offset-path: path("M1504,193 C438,26 190,10 -346,56");
  offset-rotate: reverse;
  -webkit-animation: move-sled 9s 6s ease-in-out infinite, jumping 1s 2s ease-in infinite forwards;
          animation: move-sled 9s 6s ease-in-out infinite, jumping 1s 2s ease-in infinite forwards;
}

@-webkit-keyframes wave {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.wave-1, .wave-2 {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.wave-1 {
  width: 200%;
  left: -7%;
  top: 32%;
  background-color: #FFFAFA;
  border-radius: 35% 15% 0px 0px;
  -webkit-animation: wave 1s linear;
          animation: wave 1s linear;
}

.wave-2 {
  left: -40%;
  top: 56%;
  background-color: #DCDCDC;
  border-radius: 45% 45% 0px 0px;
  -webkit-animation: wave 3s linear;
          animation: wave 3s linear;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 1000;
}

.snowflake:nth-child(1) {
  --size: 0.2vw;
  left: 75vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(2) {
  --size: 0.6vw;
  left: 95vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.snowflake:nth-child(3) {
  --size: 0.4vw;
  left: 52vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(4) {
  --size: 0.2vw;
  left: 42vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(5) {
  --size: 0.2vw;
  left: 76vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(6) {
  --size: 0.2vw;
  left: 33vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.snowflake:nth-child(7) {
  --size: 1vw;
  left: 31vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.snowflake:nth-child(8) {
  --size: 0.4vw;
  left: 32vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(9) {
  --size: 0.8vw;
  left: 42vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.snowflake:nth-child(10) {
  --size: 0.6vw;
  left: 86vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.snowflake:nth-child(11) {
  --size: 0.8vw;
  left: 42vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.snowflake:nth-child(12) {
  --size: 1vw;
  left: 88vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(13) {
  --size: 0.2vw;
  left: 29vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(14) {
  --size: 0.8vw;
  left: 87vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(15) {
  --size: 0.4vw;
  left: 16vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(16) {
  --size: 0.6vw;
  left: 13vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(17) {
  --size: 0.6vw;
  left: 45vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.snowflake:nth-child(18) {
  --size: 0.8vw;
  left: 56vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(19) {
  --size: 0.4vw;
  left: 27vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(20) {
  --size: 0.2vw;
  left: 4vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(21) {
  --size: 0.2vw;
  left: 71vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(22) {
  --size: 1vw;
  left: 53vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.snowflake:nth-child(23) {
  --size: 0.4vw;
  left: 65vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(24) {
  --size: 0.4vw;
  left: 95vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(25) {
  --size: 1vw;
  left: 78vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(26) {
  --size: 0.6vw;
  left: 34vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.snowflake:nth-child(27) {
  --size: 0.4vw;
  left: 36vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.snowflake:nth-child(28) {
  --size: 0.4vw;
  left: 5vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.snowflake:nth-child(29) {
  --size: 0.8vw;
  left: 46vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.snowflake:nth-child(30) {
  --size: 0.2vw;
  left: 91vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
}

.snowflake:nth-child(31) {
  --size: 0.8vw;
  left: 30vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  left: 35vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.snowflake:nth-child(33) {
  --size: 0.6vw;
  left: 64vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(34) {
  --size: 0.4vw;
  left: 57vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(35) {
  --size: 0.4vw;
  left: 84vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.snowflake:nth-child(36) {
  --size: 0.6vw;
  left: 27vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(37) {
  --size: 0.8vw;
  left: 66vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.snowflake:nth-child(38) {
  --size: 0.4vw;
  left: 12vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(39) {
  --size: 1vw;
  left: 61vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(40) {
  --size: 0.2vw;
  left: 43vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.snowflake:nth-child(41) {
  --size: 0.6vw;
  left: 52vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
}

.snowflake:nth-child(42) {
  --size: 0.8vw;
  left: 96vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(43) {
  --size: 0.2vw;
  left: 58vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
}

.snowflake:nth-child(44) {
  --size: 0.8vw;
  left: 68vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(45) {
  --size: 1vw;
  left: 17vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
}

.snowflake:nth-child(46) {
  --size: 0.6vw;
  left: 42vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.snowflake:nth-child(47) {
  --size: 0.8vw;
  left: 88vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

.snowflake:nth-child(48) {
  --size: 0.6vw;
  left: 15vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
}

.snowflake:nth-child(49) {
  --size: 0.2vw;
  left: 22vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
}

.snowflake:nth-child(50) {
  --size: 0.8vw;
  left: 74vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
}

@-webkit-keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@keyframes snowfall {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}
.circle-1, .circle-2, .circle-3 {
  opacity: 0;
  position: relative;
  border-radius: 45%;
  background-color: #FFFAFA;
  border: 3px solid #042D29;
}

.circle-1 {
  width: 80px;
  height: 80px;
  top: 25em;
  left: 90px;
  z-index: 20;
  -webkit-box-shadow: inset 3px -6px 1px #a2a2a2, inset 10px -20px 4px #DCDCDC;
          box-shadow: inset 3px -6px 1px #a2a2a2, inset 10px -20px 4px #DCDCDC;
  position: relative;
  -webkit-animation: snowmen 300ms 0.5s ease-in-out;
          animation: snowmen 300ms 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-1::before {
  opacity: 0;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 20px;
  left: 23px;
  border-radius: 50%;
  background-color: #042D29;
  -webkit-animation: snowmen 500ms 1s ease-in-out;
          animation: snowmen 500ms 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-1::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 18px;
  left: 43px;
  border-radius: 50%;
  background-color: #042D29;
  -webkit-animation: snowmen 500ms 1s ease-in-out;
          animation: snowmen 500ms 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-2 {
  opacity: 0;
  width: 120px;
  height: 120px;
  top: 24em;
  left: 80px;
  z-index: 19;
  -webkit-box-shadow: inset -2px -5px 1px #a2a2a2, inset 15px -25px 4px #DCDCDC;
          box-shadow: inset -2px -5px 1px #a2a2a2, inset 15px -25px 4px #DCDCDC;
  -webkit-animation: snowmen 600ms 0.5s ease-in-out;
          animation: snowmen 600ms 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-2::before, .circle-2::after {
  content: "";
  position: absolute;
  background-color: #800000;
  border-radius: 50%;
  opacity: 0;
}
.circle-2::before {
  top: 40px;
  width: 10px;
  height: 10px;
  left: 60px;
  -webkit-animation: snowmen 400ms 3s ease-in-out;
          animation: snowmen 400ms 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-2::after {
  top: 60px;
  width: 10px;
  height: 10px;
  left: 60px;
  -webkit-animation: snowmen 600ms 3s ease-in-out;
          animation: snowmen 600ms 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-3 {
  width: 160px;
  height: 140px;
  top: 23em;
  left: 60px;
  z-index: 18;
  -webkit-box-shadow: inset -3px -10px 1px #a2a2a2, inset 14px -30px 4px #DCDCDC;
          box-shadow: inset -3px -10px 1px #a2a2a2, inset 14px -30px 4px #DCDCDC;
  -webkit-animation: snowmen 10ms 0.5s ease-in-out;
          animation: snowmen 10ms 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-3::before, .circle-3::after {
  opacity: 0;
  position: absolute;
  content: "";
  -webkit-animation: snowmen 300ms 4s ease-in-out;
          animation: snowmen 300ms 4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.circle-3::before {
  width: 96px;
  height: 80px;
  top: -100px;
  left: 90px;
  background: rgb(116, 59, 16);
  background: linear-gradient(232deg, rgba(116, 59, 16, 0) 41%, rgb(70, 35, 10) 43%, rgb(0, 0, 0) 45%, rgb(93, 47, 13) 47%, rgba(116, 59, 16, 0) 48%);
}
.circle-3::after {
  width: 108px;
  height: 80px;
  top: -100px;
  left: -28px;
  background: rgb(116, 59, 16);
  background: linear-gradient(128deg, rgba(116, 59, 16, 0) 41%, rgb(70, 35, 10) 43%, rgb(0, 0, 0) 45%, rgb(93, 47, 13) 47%, rgba(116, 59, 16, 0) 48%);
}

.face {
  position: relative;
  z-index: 20;
}
.face::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 5em;
  left: 120px;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #042D29;
  border-radius: 35%;
  -webkit-animation: snowmen 400ms 3s ease-in-out;
          animation: snowmen 400ms 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes snowmen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(180deg);
            transform: scale(0.1) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes snowmen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(180deg);
            transform: scale(0.1) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.calendar {
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-width: 900px;
  margin: 10% auto 2rem auto;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 2em;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: " day12 day10 day8" "day9 day24  day11" ". day2 day13" ". day18 day4" "day20 day1 day7" "day5 day14 day17" "day16 day23 day6" "day15 day21 day19" "day25 day28 day31" "day29 day30 day26" "day22 day3 day27";
}
.calendar__card {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border: 1px dotted black;
}

@media (min-width: 600px) {
  .calendar {
    display: -ms-grid;
    display: grid;
    width: 80%;
    max-width: 80%;
    min-height: 100vh;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(3, 1fr);
        grid-template-areas: " day12 day10 day8" "day3 day24  day11" "day22  day2 day13" "day9 day18 day4" "day20 day1 day7" "day5 day14 day17" "day16 day23 day6" "day15 day21 day19" "day25 day28 day31" "day29 day30 day26" ". day27 .";
    z-index: 500;
    padding: 30px 40px 30px 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calendar__card {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    border: 1px dotted black;
  }
}
@media (min-width: 1024px) {
  .calendar {
    display: -ms-grid;
    display: grid;
    width: 80%;
    max-width: 80%;
    min-height: 100vh;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "day5 day17 day15 day6 day22" "day23 day1  day24 day24 day20 " "day25 day18 day24 day24 day30 " "day7 day4 day13 day11 day21 " "day28 day10 day2 day8 day31 " "day14 day3 day29 day19 day12" "day9 day27 day27 day16 day26";
    z-index: 500;
    padding: 60px 20px 30px 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.card {
  position: relative;
}

.card--1 {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: day1;
}

.card--2 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: day2;
}

.card--3 {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
  grid-area: day3;
}

.card--4 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: day4;
}

.card--5 {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: day5;
}

.card--6 {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
  grid-area: day6;
}

.card--7 {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: day7;
}

.card--8 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: day8;
}

.card--9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: day9;
}

.card--10 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: day10;
}

.card--11 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: day11;
}

.card--12 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: day12;
}

.card--13 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: day13;
}

.card--14 {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: day14;
}

.card--15 {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: day15;
}

.card--16 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: day16;
}

.card--17 {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
  grid-area: day17;
}

.card--18 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: day18;
}

.card--19 {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
  grid-area: day19;
}

.card--20 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: day20;
}

.card--21 {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
  grid-area: day21;
}

.card--22 {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
  grid-area: day22;
}

.card--23 {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  grid-area: day23;
}

.card--24 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: day24;
}

.card--25 {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  grid-area: day25;
}

.card--26 {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
  grid-area: day26;
}

.card--27 {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
  grid-area: day27;
}

.card--28 {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
  grid-area: day28;
}

.card--29 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  grid-area: day29;
}

.card--30 {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
  grid-area: day30;
}

.card--31 {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
  grid-area: day31;
}

@media (min-width: 600px){
  .card--1 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .card--2 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .card--3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card--4 {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .card--5 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .card--6 {
    -ms-grid-row: 13;
    -ms-grid-column: 5;
  }
  .card--7 {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .card--8 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .card--9 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .card--10 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .card--11 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .card--12 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card--13 {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .card--14 {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .card--15 {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .card--16 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .card--17 {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .card--18 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .card--19 {
    -ms-grid-row: 15;
    -ms-grid-column: 5;
  }
  .card--20 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .card--21 {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }
  .card--22 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .card--23 {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .card--24 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .card--25 {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
  .card--26 {
    -ms-grid-row: 19;
    -ms-grid-column: 5;
  }
  .card--27 {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
  }
  .card--28 {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
  }
  .card--29 {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }
  .card--30 {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
  }
  .card--31 {
    -ms-grid-row: 17;
    -ms-grid-column: 5;
  }
}

@media (min-width: 1024px){
  .card--1 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .card--2 {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .card--3 {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .card--4 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .card--5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card--6 {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .card--7 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .card--8 {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .card--9 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .card--10 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .card--11 {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .card--12 {
    -ms-grid-row: 11;
    -ms-grid-column: 9;
  }
  .card--13 {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .card--14 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .card--15 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .card--16 {
    -ms-grid-row: 13;
    -ms-grid-column: 7;
  }
  .card--17 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .card--18 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .card--19 {
    -ms-grid-row: 11;
    -ms-grid-column: 7;
  }
  .card--20 {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .card--21 {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .card--22 {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .card--23 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card--24 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }
  .card--25 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .card--26 {
    -ms-grid-row: 13;
    -ms-grid-column: 9;
  }
  .card--27 {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .card--28 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .card--29 {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .card--30 {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .card--31 {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
  }
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

.card:hover .front {
  -webkit-transform: 0.3s rotateY(180deg);
          transform: 0.3s rotateY(180deg);
}

.card:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front {
  background-color: #800000;
  border: 1px solid rgb(255, 255, 255);
}

.front span {
  display: block;
  background-color: rgb(243, 218, 11);
  font-size: 2em;
  font-weight: 600;
  border-radius: 0px;
  width: 50%;
  height: 60%;
  padding: 1em;
  text-align: center;
  border: 3px solid #4b280a;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 8px rgb(255, 255, 255);
          box-shadow: inset 0px 0px 8px rgb(255, 255, 255);
}

.front span:before {
  position: absolute;
  content: "";
  top: 0;
  left: 16px;
  width: 6px;
  height: 100%;
  border-left: 3px solid #4b280a;
}

.front span:after {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 3px solid #4b280a;
}

.back {
  background-color: #25330F;
}

.back span {
  color: #FFFAFA;
  text-align: center;
  padding: 5px;
}

.buttons__home::after {
  position: absolute;
  content: "Нарядить елку";
  top: 5px;
  left: 36px;
  font-size: 18px;
  opacity: 0;
}