@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: "Cormorant Upright";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

nav, footer, header {
  display: block;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.page__header {
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #25330F;
  z-index: 2;
}
.page__content {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #D4C9B4;
}
.page__footer {
  height: 60px;
  width: 100%;
  background-color: #25330F;
  z-index: 10;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  margin: 0;
}

.buttons__home {
  width: 13rem;
  height: 40px;
  padding: 5px;
  background-color: #DCDCDC;
  text-align: center;
  border: 1px solid rgba(75, 40, 10, 0.8);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons__home span {
  display: block;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.buttons__home:hover {
  background-color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover::after {
  opacity: 1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover span {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.buttons__social {
  color: #DCDCDC;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
}
.buttons__social:hover {
  color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@-webkit-keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottom {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@keyframes toBottom {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@-webkit-keyframes toRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
    width: 100wh;
    height: 100vh;
  }
}
@keyframes toRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
    width: 100wh;
    height: 100vh;
  }
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  40% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  60% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  80% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(400px) rotate(360deg);
            transform: translateY(400px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  40% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  60% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  80% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(400px) rotate(360deg);
            transform: translateY(400px) rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes gift-jump {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}
@keyframes gift-jump {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}
@-webkit-keyframes isVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes isVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.content {
  height: 100%;
  width: 100%;
  background-color: #D4C9B4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0, -webkit-gradient(linear, left top, right top, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0, linear-gradient(90deg, rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0;
  background-size: 1em 1em;
  background-color: #D4C9B4;
}

.buttons__home {
  right: 60px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: jump 3s 6s ease-in-out forwards;
          animation: jump 3s 6s ease-in-out forwards;
}
.buttons__home::after {
  position: absolute;
  content: "Адвент-календарь";
  top: 5px;
  left: 36px;
  font-size: 18px;
  opacity: 0;
}

.gift {
  width: 50px;
  height: 50px;
  font-size: 100px;
  padding: 5px;
  position: relative;
  opacity: 0;
  left: 1100px;
  -webkit-transform: translateY(200px) rotate(360deg);
          transform: translateY(200px) rotate(360deg);
  -webkit-animation: gift-jump 1s 8s ease-in-out forwards;
          animation: gift-jump 1s 8s ease-in-out forwards;
  z-index: 500;
}
.gift::before {
  position: absolute;
  content: "Кликни сюда:)";
  font-size: 18px;
  top: 50;
  left: -50px;
  width: 20px;
  height: 2px;
  opacity: 0;
  -webkit-animation: isVisible 2s 1s ease-in-out;
          animation: isVisible 2s 1s ease-in-out;
}

.gift span {
  display: block;
  font-size: 100px;
}

.gift__link:hover {
  -webkit-transform: scale(3) rotate(360deg);
          transform: scale(3) rotate(360deg);
}

.animation {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.slide {
  position: fixed;
  top: 40px;
  left: 250px;
  opacity: 0;
  z-index: 10;
}

.slide img {
  width: 750px;
  height: 800px;
}

.slide-1 {
  -webkit-animation: start 2s 0.3s ease-in-out;
          animation: start 2s 0.3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-2 {
  -webkit-animation: start 2s 2s ease-in-out;
          animation: start 2s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-3 {
  -webkit-animation: start 3s 2s ease-in-out;
          animation: start 3s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-4 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-5 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-6 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-7 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 1;
  -webkit-animation: toRight 2s 4s ease-in-out;
          animation: toRight 2s 4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
  width: 100%;
}

.slide-7 img {
  width: 1440px;
  height: 100%;
}

.slide-8 {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  left: 690px;
  opacity: 1;
  -webkit-animation: toBottom 2s 5s ease-in-out;
          animation: toBottom 2s 5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-8 img {
  width: 200px;
  height: 300px;
}

.slide-9 {
  -webkit-transform: translateY(-370%);
          transform: translateY(-370%);
  top: 80px;
  left: 100px;
  opacity: 1;
  -webkit-animation: toBottom 1s 6s ease-in-out;
          animation: toBottom 1s 6s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1000;
  width: 80%;
  height: 40px;
}

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  z-index: 1000;
}

.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: rgb(0, 47, 85);
  -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
          box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
  -webkit-animation: flash-1 2s infinite;
          animation: flash-1 2s infinite;
}

.lightrope li:nth-child(2n+1) {
  background: rgb(52, 201, 36);
  -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
          box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
  -webkit-animation: flash-2 0.4s infinite;
          animation: flash-2 0.4s infinite;
}

.lightrope li:nth-child(4n+2) {
  background: #800000;
  -webkit-box-shadow: 0px 4.66667px 24px 3px #800000;
          box-shadow: 0px 4.66667px 24px 3px #800000;
  -webkit-animation: flash-3 1.1s infinite;
          animation: flash-3 1.1s infinite;
}

.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -7px;
  left: 7px;
}

.lightrope li:after {
  content: "";
  top: -15px;
  left: 19px;
  position: absolute;
  width: 52px;
  height: 16px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.lightrope li:last-child:after {
  content: none;
}

.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%, 100% {
    background: rgb(0, 47, 85);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
            box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
  }
  50% {
    background: rgb(30, 144, 255);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(30, 144, 255);
            box-shadow: 0px 4.66667px 24px 3px rgb(30, 144, 255);
  }
}

@keyframes flash-1 {
  0%, 100% {
    background: rgb(0, 47, 85);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
            box-shadow: 0px 4.66667px 24px 3px rgb(0, 47, 85);
  }
  50% {
    background: rgb(30, 144, 255);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(30, 144, 255);
            box-shadow: 0px 4.66667px 24px 3px rgb(30, 144, 255);
  }
}
@-webkit-keyframes flash-2 {
  0%, 100% {
    background: rgb(52, 201, 36);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
            box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
  }
  50% {
    background: rgb(0, 255, 0);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(0, 255, 0);
            box-shadow: 0px 4.66667px 24px 3px rgb(0, 255, 0);
  }
}
@keyframes flash-2 {
  0%, 100% {
    background: rgb(52, 201, 36);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
            box-shadow: 0px 4.66667px 24px 3px rgb(52, 201, 36);
  }
  50% {
    background: rgb(0, 255, 0);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(0, 255, 0);
            box-shadow: 0px 4.66667px 24px 3px rgb(0, 255, 0);
  }
}
@-webkit-keyframes flash-3 {
  0%, 100% {
    background: #800000;
    -webkit-box-shadow: 0px 4.66667px 24px 3px #800000;
            box-shadow: 0px 4.66667px 24px 3px #800000;
  }
  50% {
    background: rgb(255, 0, 51);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 51);
            box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 51);
  }
}
@keyframes flash-3 {
  0%, 100% {
    background: #800000;
    -webkit-box-shadow: 0px 4.66667px 24px 3px #800000;
            box-shadow: 0px 4.66667px 24px 3px #800000;
  }
  50% {
    background: rgb(255, 0, 51);
    -webkit-box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 51);
            box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 51);
  }
}