@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: "Cormorant Upright";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

nav, footer, header {
  display: block;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.page__header {
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #25330F;
  z-index: 5;
}
.page__content {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #D4C9B4;
}
.page__footer {
  height: 60px;
  width: 100%;
  background-color: #25330F;
  z-index: 10;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  margin: 0;
}

.buttons__home {
  width: 13rem;
  height: 40px;
  padding: 5px;
  background-color: #DCDCDC;
  text-align: center;
  border: 1px solid rgba(75, 40, 10, 0.8);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons__home span {
  display: block;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.buttons__home:hover {
  background-color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover::after {
  opacity: 1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.buttons__home:hover span {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.buttons__social {
  color: #DCDCDC;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
}
.buttons__social:hover {
  color: rgb(243, 218, 11);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@-webkit-keyframes start {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes start {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottom {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@keyframes toBottom {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}
@-webkit-keyframes toRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
    width: 100wh;
    height: 100vh;
  }
}
@keyframes toRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
    width: 100wh;
    height: 100vh;
  }
}
.content {
  height: 100%;
  width: 100%;
  background-color: #D4C9B4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0, -webkit-gradient(linear, left top, right top, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0, linear-gradient(90deg, rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0;
  background-size: 1em 1em;
  background-color: #D4C9B4;
}

.buttons__home::after {
  position: absolute;
  content: "Адвент-календарь";
  top: 5px;
  left: 36px;
  font-size: 18px;
  opacity: 0;
}

.animation {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.slide {
  position: fixed;
  top: 40px;
  left: 250px;
  opacity: 0;
  z-index: 10;
}

.slide img {
  width: 750px;
  height: 800px;
}

.slide-1 {
  -webkit-animation: start 2s 0.3s ease-in-out;
          animation: start 2s 0.3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-2 {
  -webkit-animation: start 2s 2s ease-in-out;
          animation: start 2s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-3 {
  -webkit-animation: start 3s 2s ease-in-out;
          animation: start 3s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-4 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-5 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-6 {
  -webkit-animation: start 4s 2s ease-in-out;
          animation: start 4s 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-7 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 1;
  -webkit-animation: toRight 2s 3s ease-in-out;
          animation: toRight 2s 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
  width: 100%;
}

.slide-7 img {
  width: 1440px;
  height: 100%;
}

.slide-8 {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  left: 690px;
  opacity: 1;
  -webkit-animation: toBottom 2s 3s ease-in-out;
          animation: toBottom 2s 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-8 img {
  width: 200px;
  height: 300px;
}

.slide-9 {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  top: -20px;
  left: 100px;
  opacity: 1;
  -webkit-animation: toBottom 2s 3s ease-in-out;
          animation: toBottom 2s 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}

.slide-9 img {
  width: 900px;
  height: 140px;
}