@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: "Cormorant Upright";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

nav, footer, header {
  display: block;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.page__header {
  height: 90px;
  width: 100%;
  background-color: #25330F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin: 0;
}
.page__content {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #D4C9B4;
}
.page__footer {
  height: 60px;
  width: 100%;
  background-color: #25330F;
  z-index: 10;
  position: relative;
}

.page {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0, -webkit-gradient(linear, left top, right top, color-stop(0.9em, rgba(255, 255, 255, 0)), color-stop(1em, rgba(0, 0, 0, 0.15))) 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0, linear-gradient(90deg, rgba(255, 255, 255, 0) 0.9em, rgba(0, 0, 0, 0.15) 1em) 0 0;
  background-size: 1em 1em;
  background-color: #D4C9B4;
}