@import 'common-style.scss';

@keyframes snowfall {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(0, 100vh, 0);
   }
}
@keyframes wave {
   0% {
      opacity: 0;
   }
   30% {
      opacity: 0.4;
   }
   60% {
      opacity: 0.8;
   }
   100% {
      opacity: 1;
   }
}
@keyframes snowmen {
   0% {
      opacity: 0;
      transform: scale(0.1) rotate(180deg);

   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
.content {
   background-color: $color-8;
   z-index: 0;
   position: relative;

   &__block {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   }
   &__back {
      position:relative;
   }
   &__waves {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
   }
   &__snowmen {
      position:fixed;
   }
   &__sled span{
      display: block;
      width: 100px;
      height: auto;
   }
}
.wave-1, .wave-2 {
   position: fixed;
   width: 100%;
   height: 100%;
   margin-top: 10%;
}
.wave-1 {
   width: 200%;
   left: -7%;
   top: 32%;
   background-color: $wave-1;
   border-radius: 35% 15% 0px 0px;  
   animation: wave 1s linear;  
}
.wave-2 {
   left: -40%; 
   top: 56%;
   background-color: $wave-2; 
   border-radius: 45% 45% 0px 0px; 
   animation: wave 3s linear; 
}

.snowflake {
   --size: 1vw;
   width: var(--size);
   height: var(--size);
   background: $color-7;
   border-radius: 50%;
   position: absolute;
   top: -5vh;
   z-index: 2;
}

@for $i from 1 through 50 {
   .snowflake:nth-child(#{$i}) {
     --size: #{random(5) * 0.2}vw; 
     left: #{random(100)}vw;
     animation: snowfall #{5 + random(10)}s linear infinite;
   }
}

.circle-1, .circle-2, .circle-3 {
   opacity: 0;
   position: relative;
   border-radius: 45%;
   background-color: $wave-1;
   border: 3px solid $color-6;
   
}
.circle-1 {
   width: 80px;
   height: 80px;
   top: 215px;
   left:90px;
   z-index:20;
   box-shadow: 
      inset 3px -6px 1px $color-8,
      inset 10px -20px 4px $wave-2;
   position:relative;
   animation: snowmen 6s 0.5s ease-in-out;
   animation-fill-mode: forwards;
      &::before {
      opacity:0;
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      top: 20px;
      left: 23px;
      border-radius: 50%;
      background-color: $color-6;
      animation: snowmen 7s 0.5s ease-in-out;
      animation-fill-mode: forwards;
   }
   &::after {
      opacity:0;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 18px;
      left: 43px;
      border-radius: 50%;
      background-color: $color-6;
      animation: snowmen 7s 0.5s ease-in-out;
      animation-fill-mode: forwards;
   }

}  
.circle-2 {
   opacity:0;
   width: 120px;
   height: 120px;
   top: 200px;
   left:80px;
   z-index: 19;
   box-shadow: 
      inset -2px -5px 1px $color-8,
      inset 15px -25px 4px $wave-2;
      animation: snowmen 4s 0.5s ease-in-out;
      animation-fill-mode: forwards;
   &::before, 
   &::after {
      content:'';
      position: absolute;
      background-color: $color-4;
      border-radius:50%;
      opacity:0;
   }
   &::before {
      top: 40px;
      width: 10px;
      height: 10px;
      left: 60px;
      animation: snowmen 8s 1s ease-in-out;
      animation-fill-mode: forwards;
   }
   &::after {
      top: 60px;
      width: 10px;
      height: 10px;
      left: 60px;
      animation: snowmen 10s 1s ease-in-out;
      animation-fill-mode: forwards;
   }

}
.circle-3 {
   width: 160px;
   height: 140px;
   top: 190px;
   left:60px;
   z-index: 18;
   box-shadow: 
      inset -3px -10px 1px $color-8,
      inset 14px -30px 4px $wave-2;
   animation: snowmen 1s 0.5s ease-in-out;
   animation-fill-mode: forwards;

   &::before, &::after {
      opacity:0;
      position: absolute;
      content: '';
      animation: snowmen 7s 1s ease-in-out;
      animation-fill-mode: forwards;
   }
   &::before {
      width: 120px;
      height: 120px;
      top:-100px;
      left:-10px;
      border-radius: 45%;
      border-left: 4px solid $color-9;
   }
   &::after {
      width: 120px;
      height: 120px;
      top:-100px;
      left:30px;
      border-radius: 45%;
      border-right: 4px solid $color-9;
   }
   
}
.face {
   position: relative;
   z-index: 20;
  &::after {
      opacity:0;
      content: '';
      position: absolute; 
      border-radius: 120px; 
      border: 15px solid transparent;
      border-left: 70px solid $color-3;
      top: -95px;
      left: 127px; 
      animation: snowmen 6s 0.5s ease-in-out;
      animation-fill-mode: forwards;
  }
  &::before {
   opacity:0;
   content:'';
   position: absolute;
   top: -96px;
   left: 120px;
   width: 30px;
   height: 30px;
   border-bottom: 4px solid $color-6;
   border-radius: 35%;
   animation: snowmen 6s 0.5s ease-in-out;
   animation-fill-mode: forwards;
  }
}
.calendar {
   display: flex;
   width: 100%;
   height: 100%;
   padding: 30px;
   justify-content: center;
   align-items:center;
   gap: 15px;
   flex-wrap: wrap;
  padding-left: 200px;
   padding-bottom: 200px;

   &__card {
      width: 8rem;
      height: 8rem;
      perspective: 1000px;
      border: 1px solid black;

   }
}
.card {
   position:relative;
}

.front, .back {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
   backface-visibility: hidden;
   cursor: pointer;
}
.card:hover .front {
   transform: 0.3s rotateY(180deg);
}
.card:hover .back {
   transform: rotateY(360deg);
}
.back {
   transform: rotateY(180deg);
}
.front {
   background-color: $color-4;
   border: 1px solid $color-7;
   }
   .front span {
      display: block;
      background-color: $color-3;
      font-size: 24px;
      font-weight: 600;
      border-radius: 0px;
      width: 60px;
      height: 60px;
      padding: 23px;
      text-align: bottom left;
      border: 3px solid $color-9;  
      position: relative;
      box-shadow: inset 0px 0px 8px $color-7;
   }
   .front span:before {
      position: absolute;
      content: '';
      top: 0;
      left: 16px;
      width: 6px;
      height: 100%;
      border-left: 3px solid $border;
   }
   .front span:after {
      position: absolute;
      content: '';
      top: 16px;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 3px solid $border;
   }
.back {
   background-color: $color-2;
}
.back img {
   max-width: 100%;
   min-width: 100%;
   height: auto;
}
