@import 'common-style.scss';

$white: rgb(255, 255, 255);
$grey:#a2a2a2;
$green:#042D29;
$green-2: #25330F;
$yellow:rgb(243,218,11);
$red:#800000;
$brown:#4b280a;

$wave-1:#FFFAFA;
$wave-2:#DCDCDC;
$wave-3:#949494;

.page__header {
   z-index:99;
   position: absolute;
}
//контент
.content {
   background-color: $grey;
   position: relative;

   &__block {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   }
   &__back {
      position:relative;
   }
   &__waves {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
   }
   &__snowmen {
      position:fixed;
   }
   &__deer {
      position: fixed;
      z-index: 100;
   }
}
//олени
@keyframes move-sled {
   0% { 
      offset-distance: 0%;
   }
   100% { 
      offset-distance: 100%;
   }
}
@keyframes jumping {
   0% {
      transform-origin: right, bottom;
      transform: rotate(0deg);
   }
   20% {
      transform-origin: right, bottom;
      transform: rotate(15deg);
   }
   40% {
      transform-origin: right, bottom;
      transform: rotate(23deg);
   }
   40% {
      transform-origin: right, bottom;
      transform: rotate(35deg);
   }
   60% {
      transform-origin: right, bottom;
      transform: rotate(23deg);
   }
   80% {
      transform-origin: right, bottom;
      transform: rotate(15deg);
   }
   100% {
      transform-origin: right, bottom;
      transform: rotate(0)
   }
   
}
.deer-1 img {
   margin-top: 40px;
      width: 300px;
      height: 300px;
   offset-path: path("M1504,193 C438,26 150,10 -346,56");
   offset-rotate: reverse;
   animation: move-sled 10s 2s ease-in-out infinite,
            jumping 1s 2s ease-in-out infinite forwards;
}
.deer-2 img {
   opacity:0.8;
   margin-top: 30px;
      width: 200px;
      height: 200px;
      offset-path: path("M1504,193 C438,26 120,10 -346,56");
      offset-rotate: reverse;
      animation: move-sled 8s 4s ease-in-out infinite,
                  jumping 1s 2s ease-in-out infinite forwards; 
}
.deer-3 img {
   opacity: 0.8;
   margin-top: 50px;
      width: 300px;
      height: 300px;
   offset-path: path("M1504,193 C438,26 190,10 -346,56");
   offset-rotate: reverse;
   animation:  move-sled 9s 6s ease-in-out infinite,
               jumping 1s 2s ease-in infinite forwards;
}
//сугробы
@keyframes wave {
   0% {
      opacity: 0;
   }
   30% {
      opacity: 0.4;
   }
   60% {
      opacity: 0.8;
   }
   100% {
      opacity: 1;
   }
}

.wave-1, .wave-2 {
   position: fixed;
   width: 100%;
   height: 100%;
   margin-top: 10%;
}
.wave-1 {
   width: 200%;
   left: -7%;
   top: 32%;
   background-color: $wave-1;
   border-radius: 35% 15% 0px 0px;  
   animation: wave 1s linear;  
}
.wave-2 {
   left: -40%; 
   top: 56%;
   background-color: $wave-2; 
   border-radius: 45% 45% 0px 0px; 
   animation: wave 3s linear; 
}
//снежинки
.snowflake {
   --size: 1vw;
   width: var(--size);
   height: var(--size);
   background: $white;
   border-radius: 50%;
   position: absolute;
   top: -5vh;
   z-index: 1000;
}

@for $i from 1 through 50 {
   .snowflake:nth-child(#{$i}) {
     --size: #{random(5) * 0.2}vw; 
     left: #{random(100)}vw;
     animation: snowfall #{5 + random(10)}s linear infinite;
   }
}
@keyframes snowfall {
   0% {
     transform: translate3d(0, 0, 0);
   }
   100% {
     transform: translate3d(0, 100vh, 0);
   }
}
//снеговик
.circle-1, .circle-2, .circle-3 {
   opacity: 0;
   position: relative;
   border-radius: 45%;
   background-color: $wave-1;
   border: 3px solid $green;
   
}
.circle-1 {
   width: 80px;
   height: 80px;
   top: 48vmin;
   left:90px;
   z-index:20;
   box-shadow: 
      inset 3px -6px 1px $grey,
      inset 10px -20px 4px $wave-2;
   position:relative;
   animation: snowmen 300ms 1s ease-in-out;
   animation-fill-mode: forwards;

      &::before {
      opacity:0;
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      top: 20px;
      left: 23px;
      border-radius: 50%;
      background-color: $color-6;
      animation: snowmen 500ms 3s ease-in-out;
      animation-fill-mode: forwards;
   }
   &::after {
      opacity:0;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 18px;
      left: 43px;
      border-radius: 50%;
      background-color: $color-6;
      animation: snowmen 2s 3s ease-in-out;
      animation-fill-mode: forwards;
   }

}  
.circle-2 {
   opacity:0;
   width: 120px;
   height: 120px;
   top: 46vmin;
   left:80px;
   z-index: 19;
   box-shadow: 
      inset -2px -5px 1px $grey,
      inset 15px -25px 4px $wave-2;
      animation: snowmen 2s 2s ease-in-out;
      animation-fill-mode: forwards;
   &::before, 
   &::after {
      content:'';
      position: absolute;
      background-color: $color-4;
      border-radius:50%;
      opacity:0;
   }
   &::before {
      top: 40px;
      width: 10px;
      height: 10px;
      left: 60px;
      animation: snowmen 1s 3s ease-in-out;
      animation-fill-mode: forwards;
   }
   &::after {
      top: 60px;
      width: 10px;
      height: 10px;
      left: 60px;
      animation: snowmen 1s 4s ease-in-out;
      animation-fill-mode: forwards;
   }

}
.circle-3 {
   width: 160px;
   height: 140px;
   top: 44vmin;
   left:60px;
   z-index: 18;
   box-shadow: 
      inset -3px -10px 1px $grey,
      inset 14px -30px 4px $wave-2;
   animation: snowmen 10ms 3s ease-in-out;
   animation-fill-mode: forwards;

   &::before, &::after {
      opacity:0;
      position: absolute;
      content: '';
      animation: snowmen 2s 5s ease-in-out;
      animation-fill-mode: forwards;
   }
   
   &::before {
      width: 96px;
      height: 80px;
      top:-100px;
      left:90px;
      background: rgb(116,59,16);
      background: linear-gradient(232deg, rgba(116,59,16,0) 41%, rgba(70,35,10,1) 43%, rgba(0,0,0,1) 45%, rgba(93,47,13,1) 47%, rgba(116,59,16,0) 48%);
 }
   &::after {
      width: 108px;
      height: 80px;
      top:-100px;
      left:-28px;
      background: rgb(116,59,16);
      background: linear-gradient(128deg, rgba(116,59,16,0) 41%, rgba(70,35,10,1) 43%, rgba(0,0,0,1) 45%, rgba(93,47,13,1) 47%, rgba(116,59,16,0) 48%);
   }
}

@keyframes snowmen {
   0% {
      opacity: 0;
      transform: scale(0.1) rotate(180deg);

   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
//карточки
.calendar {
   display: grid;
   width: 80%;
   max-width: 80%;
   min-height: 100vh;
   margin-top: 100px;
   grid-template-rows: auto;
   grid-gap: 1em;
   grid-template-columns: repeat(5, 1fr);
   grid-template-areas:
      "day5 day17 day15 day6 day22"
      "day23 day1  day24 day24 day20 "
      "day25 day18 day24 day24 day30 "
      "day7 day4 day13 day11 day21 "
      "day28 day10 day2 day8 day31 "
      "day14 day3 day29 day19 day12"
      "day9 day27 day27 day16 day26"
      ;
   z-index:500;
   padding: 60px 20px 30px 170px;
   justify-content: center;
}

.card {
   position:relative;
   min-width: 8rem;
   min-height: 8rem;
}
   .card--1 {
      grid-area: day1;
   }
   .card--2 {
      grid-area: day2;
   }
   .card--3 {
      grid-area: day3;
   }
   .card--4 {
      grid-area: day4;
   }
   .card--5 {
      grid-area: day5;
   }
   .card--6 {
      grid-area: day6;
   }
   .card--7 {
      grid-area: day7;
   }
   .card--8 {
      grid-area: day8;
   }
   .card--9 {
      grid-area: day9;
   }
   .card--10 {
      grid-area: day10;
   }
   .card--11 {
      grid-area: day11;
   }
   .card--12 {
      grid-area: day12;
   }
   .card--13 {
      grid-area: day13;
   }
   .card--14 {
      grid-area: day14;
   }
   .card--15 {
      grid-area: day15;
   }
   .card--16 {
      grid-area: day16;
   }
   .card--17 {
      grid-area: day17;
   }
   .card--18 {
      grid-area: day18;
   }
   .card--19 {
      grid-area: day19;
   }
   .card--20 {
      grid-area: day20;
   }
   .card--21 {
      grid-area: day21;
   }
   .card--22 {
      grid-area: day22;
   }
   .card--23 {
      grid-area: day23;
   }
   .card--24 {
      grid-area: day24;
   }
   .card--25 {
      grid-area: day25;
   }
   .card--26 {
      grid-area: day26;
   }
  .card--27 {
      grid-area: day27;
   }
   .card--28 {
      grid-area: day28;
   }
   .card--29 {
      grid-area: day29;
   }
   .card--30 {
      grid-area: day30;
   }
   .card--31 {
      grid-area: day31;
   }
.front, .back {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
   backface-visibility: hidden;
   cursor: pointer;
}
.card:hover .front {
   transform: 0.3s rotateY(180deg);
}
.card:hover .back {
   transform: rotateY(360deg);
}
.back {
   transform: rotateY(180deg);
}
.front {
   background-color: $red;
   border: 1px solid $white;
   }
   .front span {
      display: block;
      background-color: $yellow;
      font-size: 2em;
      font-weight: 600;
      border-radius: 0px;
      width: 50%;
      height: 60%;
      padding: 1em;
      text-align: center;
      border: 3px solid $brown;  
      position: relative;
      box-shadow: inset 0px 0px 8px $white;
   }
   .front span:before {
      position: absolute;
      content: '';
      top: 0;
      left: 16px;
      width: 6px;
      height: 100%;
      border-left: 3px solid $brown;
   }
   .front span:after {
      position: absolute;
      content: '';
      top: 16px;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 3px solid $brown;
   }
.back {
   background-color: $green-2;
}
.back span {
   color: $wave-1;
   text-align: center;
   padding: 5px;
}

//Кнопка
.buttons__home {
   &::after {
   position:absolute;
   content:'Нарядить елку';
   top:5px;
   left:36px;
   font-size: 18px;
   opacity: 0;
   }
}

@media (min-width: 680px) and (max-width: 1024px) {
   .calendar {
      display: grid;
      width: 80%;
      max-width: 80%;
      min-height: 100vh;
      margin-top: 150px;
      grid-template-rows: auto;
      grid-gap: 1em;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
         " day12 day10 day8"
         "day3 day24  day11"
         "day22  day2 day13"
         "day9 day18 day4"
         "day20 day1 day7"
         "day5 day14 day17"
         "day16 day23 day6"
         "day15 day21 day19"
         "day25 day28 day31"
         "day29 day30 day26"
         ". day27 .";
      z-index:500;
      padding: 30px 40px 30px 170px;
      justify-content: center;
   }
   .calendar__card {
      min-width: 8rem;
      min-height: 8rem;
      perspective: 1000px;
      border: 1px dotted black;
   }
}
@media (max-width:679px) {
   .calendar {
      display: grid;
      width: 100%;
      margin: 70% 5px 2rem 5px;
      padding: 0 40px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 1em;
      transform: translate3d(0px, 0px, 0px);
      justify-content: center;
      grid-template-areas:
         "day12 day10 day8 day22"
         "day9 day24  day11 day3"
         "day29 day2 day13 day27"
         "day30 day18 day4 day26"
         "day20 day1 day7 day25"
         "day5 day14 day17 day28"
         "day16 day23 day6 day31"
         "day15 day21 day19 ."
         ;
      
      &__card {
         min-width: 8rem;
         min-height: 8rem;
         perspective: 1000px;
         border: 1px dotted black;
      }
   }
   .content__snowmen {
      position: fixed;
      top: -27vmin;
   }
   .wave-1 {
      top:21%;
   }
   .wave-2 {
      top:32%;
   }
}