$color-1: #D4C9B4;
$color-2: #25330F;
$color-3:  rgb(243,218,11);
$color-4: #800000;
$color-5: #929079;
$color-6: #042D29;
$transparent: #ffffff00;
$color-7: rgb(255, 255, 255);
$color-8: #a2a2a2;
$color-9:#4b280a;
$border: rgb(75, 40, 10, 0.8);
$wave-1:#FFFAFA;
$wave-2:#DCDCDC;

/*Обнуляющие стили*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
   width:fit-content;
   font-style: 'Cormorant Upright';
   font-weight: 400; 
   line-height:150%; 
	font-size: 16px;
   scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: #141414;
}

ul, li {
	list-style: none;
}

h1, h2, h3 {
	font-weight: inherit;
	font-size: inherit;
}

nav, footer, header {
   display: block;
}

.page {
   display: flex;
   flex-direction: column;
   width: 100%;


   &__header {
      height: 90px;
      width: 100%;
      background-color: $color-2;
      display: flex;
      justify-content: flex-end;
      align-items:center;
      padding: 40px;
      margin: 0;
   }
   &__content {
      min-height: 100vh;
      width: 100%;
      height: 100%;
      background-color: $color-1;
   }
   &__footer {
      height: 60px;
      width: 100%;
      background-color: $color-2;
      z-index: 10;
      position: relative;
   }
}

