@import 'common-style.scss';

@keyframes start {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toBottom{
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(40%);
  }
}
@keyframes toRight{
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-19%);
    width: 100wh;
    height: 100vh
  }
}
@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(400px);
  }
  40% {
    transform: translateY(300px);
  }
  60% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(400px) rotate(360deg);
    opacity:0;
  }
}
@keyframes gift-jump {
  0% {
    opacity:0;
    transform: translateY(200px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity:1;
    transform: translateY(400px);
  }
}
@keyframes isVisible {
  0% {
    opacity: 0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity: 1;
  }
}
.content {
  height: 100%;
  width:100%;
  background-color: $color-1;
  background: linear-gradient(
      rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
    0 0,
  linear-gradient(90deg,
      rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
    0 0;
  background-size: 1em 1em;
  background-color: $color-1;
}

//Кнопка
.buttons__home {
  &::after {
  position:absolute;
  content:'Адвент-календарь';
  top:5px;
  left:36px;
  font-size: 18px;
  opacity: 0;
  }
  right: 60px;
  transform: translateY(0px);
  animation: jump 3s 6s ease-in-out forwards;

  }
  .gift {
    width: 50px;
    height: 50px;
    font-size: 100px;
    padding: 5px;
    position: relative;
    opacity:0;
   left: 1100px;
    transform: translateY(200px) rotate(360deg);
    animation: gift-jump 1s 8s ease-in-out forwards;
  z-index:500;

  &::before {
    position: absolute;
    content: 'Кликни сюда:)';
    font-size:18px;
    top: 50;
    left: -50px;
    width: 20px;
    height: 2px;
    opacity: 0;
    animation: isVisible 2s 1s ease-in-out;
  }
  }
  .gift span {
    display: block;
    font-size:100px;
  }
  .gift__link:hover {
    transform: scale(3) rotate(360deg);
  }

.animation {
  position:relative;
  margin: 0 auto;
  padding:0;
}
.slide {
  position: fixed;
  top:40px;
  left: 250px;
  opacity:0;
  z-index:10;
}
.slide img  {
  width: 750px;
  height: 800px;
}

.slide-1 {
  animation: start 2s 0.3s ease-in-out;
  animation-fill-mode:forwards;
}

.slide-2 {
  animation: start 2s 2s ease-in-out;
  animation-fill-mode:forwards;
}

.slide-3 { 
  animation: start 3s 2s ease-in-out;
  animation-fill-mode:forwards;
}
.slide-4 { 
  animation: start 4s 2s ease-in-out;
  animation-fill-mode:forwards;
}
.slide-5 { 
  animation: start 4s 2s ease-in-out;
  animation-fill-mode:forwards;
}
.slide-6 { 
  animation: start 4s 2s ease-in-out;
  animation-fill-mode:forwards;
}
.slide-7 {
  transform: translateX(-150%);
  opacity:1;
  animation: toRight 2s 3s ease-in-out;
  animation-fill-mode:forwards;
  z-index: 1;
  width: 100%;

}
.slide-7 img {
  width: 1440px;
  height: 100%;
}
.slide-8 {
  transform: translateY(-250%);
  left: 690px;
  opacity:1;
  animation: toBottom 2s 3s ease-in-out;
  animation-fill-mode:forwards;
}
.slide-8 img {
  width: 200px;
  height: 300px;
}
.slide-9 { 
  transform: translateY(-250%);
  top: -20px;
  left: 100px;
  opacity:1;
  animation: toBottom 2s 3s ease-in-out;
  animation-fill-mode:forwards;
  z-index:2;
}
.slide-9 img {
  width: 900px;
  height: 140px;
}
